<h2>User info</h2>
<p><%= image_tag user.get_profile_image %></p>
<table class="table">
  <tr>
    <th>name</th><td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th><td><%= user.introduction %></td>
    </tr>
</table>

<% if current_user.name != "guestuser" %>
  <div class="row">
    <div class="col">
      <div class="actions">
        <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-sm btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<h2 class="mt-5">New book</h2>
<%= form_with model: book, url: books_path, method: :post do |f| %>
  <p>Title</p>
  <p><%= f.text_field :title %></p>
  <p>Opinion</p>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit "Create Book", class: "btn btn-success" %></p>
<% end %>


