<div class="container">
  <div class="row">

    <div class="col-lg-5 mx-auto my-3">
      <h2>Editing Book</h2>
      <%= render 'shared/error_message', user: @book %>
      <br>
      <%= form_with model: @book do |f| %>
        <p><label for="InputTitle">Title</label></p>
        <p><%= f.text_field :title, autofocus: true, id: "InputTitle", size: 50 %></p>
        <p><label for="InputOpinion">Opinion</label></p>
        <p><%= f.text_area :body, size: "50x5" %></p>
        <p><%= f.submit "Update Book", class: "btn btn-success btn-sm" %></p>
      <% end %>

      <%= link_to "Show", book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>
    </div>


  </div>
</div>