<h1>Book detail</h1>
<table>
  <tr>
    <td>
      <td><%= image_tag @book.user.get_profile_image %></td>
      <%= link_to @book.user.name, user_path(@book.user_id) %>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
      <td><!-- Edit --></td>
      <td><%= link_to "Destroy", book_path(@book.id), method: :delete %></td>
    <% end %>
  </tr>
</table>